In [1]:
# Dependencies
import requests
from scipy import stats
from config import g_key
import gmaps
import numpy as np
import pandas as pd
import time
from scipy.stats import linregress
from matplotlib import pyplot as plt

In [2]:
Vacay_df = pd.read_csv(
    "Weather_df.csv", dtype="object", encoding="utf-8")
Vacay_df.head(10)

,Unnamed: 0,City,Latitude,Longitude,Temperature,Humidity,Clouds %,Wind Speed (mph),Temperature_F
0,0,sinnamary,5.38,-52.95,27.06,81,22,5.74,80.708
1,1,rikitea,-23.12,-134.97,23.04,75,0,6.61,73.472
2,2,saint george,37.1,-113.58,29.78,11,1,2.23,85.604
3,3,zhigalovo,54.81,105.16,-3.14,80,78,1,26.348
4,4,betioky,-23.72,44.38,17.76,89,24,2.66,63.968
5,5,straumen,63.87,11.3,6.83,93,75,4.1,44.294
6,6,busselton,-33.65,115.33,16.59,68,41,6.36,61.862
7,7,koroni,36.8,21.95,20.0,69,23,4.88,68.0
8,8,belle fourche,44.67,-103.85,15.01,33,1,2.1,59.018
9,9,hithadhoo,-0.6,73.08,28.18,72,100,4.21,82.724

In [3]:
##used this for testing
# Vacay_small = Vacay_df.head(5)
# Vacay_small

In [4]:
#jupyter nbextension enable --py gmaps

In [5]:
# Configure gmaps with API key
gmaps.configure(api_key = g_key)

In [6]:
# Store 'Lat' and 'Lng' into  locations 


# Convert Poverty Rate to float and store
# HINT: be sure to handle NaN values
Vacay_df = Vacay_df.dropna()
Humids = Vacay_df["Humidity"].astype(float)
locations = Vacay_df[["Latitude", "Longitude"]].astype(float)

In [7]:
locations

     Latitude  Longitude
0        5.38     -52.95
1      -23.12    -134.97
2       37.10    -113.58
3       54.81     105.16
4      -23.72      44.38
..        ...        ...
556    -19.58     -65.75
557     -7.61      15.06
558     21.12      70.12
559     41.32      19.44
560     55.38      91.60

[519 rows x 2 columns]

In [8]:
Humids

0      81.0
1      75.0
2      11.0
3      80.0
4      89.0
       ...
556    71.0
557    91.0
558    58.0
559    93.0
560    96.0
Name: Humidity, Length: 519, dtype: float64

In [9]:
# Create a poverty Heatmap layer
fig = gmaps.figure()

heat_layer = gmaps.heatmap_layer(locations, weights=Humids, 
                                 dissipating=False, max_intensity=100,
                                 point_radius = 3)

fig.add_layer(heat_layer)

fig

Figure(layout=FigureLayout(height='420px'))

In [10]:
# Zero cloudiness.
Zero_Clouds = Vacay_df.loc[(Vacay_df["Clouds %"] == "0")]


# A max temperature lower than 80 degrees but higher than 70.
Zero_Clouds['Temperature_F'] = pd.to_numeric(Zero_Clouds['Temperature_F'])
Zero_Clouds['Wind Speed (mph)'] = pd.to_numeric(Zero_Clouds['Wind Speed (mph)'])
Nice_Temp = Zero_Clouds.loc[(Zero_Clouds["Temperature_F"]>70)]
Nice_Temp = Nice_Temp.loc[(Nice_Temp["Temperature_F"]< 80)]
Ideal_df = Nice_Temp.loc[Nice_Temp["Wind Speed (mph)"]<10]
# Wind speed less than 10 mph.

Ideal_df

<ipython-input-10-035a5ed6e3aa>:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  Zero_Clouds['Temperature_F'] = pd.to_numeric(Zero_Clouds['Temperature_F'])
<ipython-input-10-035a5ed6e3aa>:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  Zero_Clouds['Wind Speed (mph)'] = pd.to_numeric(Zero_Clouds['Wind Speed (mph)'])

,Unnamed: 0,City,Latitude,Longitude,Temperature,Humidity,Clouds %,Wind Speed (mph),Temperature_F
1,1,rikitea,-23.12,-134.97,23.04,75,0,6.61,73.472
19,19,yulara,-25.24,130.99,25.0,15,0,6.70,77.000
30,30,tezu,27.92,96.17,23.4,63,0,1.36,74.120
52,52,los llanos de aridane,28.66,-17.92,23.0,78,0,4.60,73.400
84,84,alice springs,-23.7,133.88,23.49,20,0,4.10,74.282
124,124,poum,-20.23,164.02,24.31,84,0,4.27,75.758
227,227,salalah,17.02,54.09,26.0,74,0,1.50,78.800
228,228,viedma,-40.81,-63,25.0,25,0,0.89,77.000
231,231,narrabri,-30.32,149.78,23.0,35,0,3.60,73.400
267,267,madimba,-10.4,40.33,24.32,90,0,3.13,75.776
281,281,mount isa,-20.73,139.5,26.0,44,0,7.20,78.800
285,285,mecca,21.43,39.83,25.76,18,0,2.28,78.368
347,347,shahdadkot,27.85,67.91,22.73,14,0,2.96,72.914
363,363,puerto del rosario,28.5,-13.86,22.0,83,0,8.70,71.600
395,395,sur,22.57,59.53,25.44,48,0,6.26,77.792
432,432,port hedland,-20.32,118.57,26.0,74,0,4.10,78.800
453,453,marzuq,14.4,46.47,21.42,47,0,1.18,70.556
504,504,huilong,31.81,121.66,21.48,65,0,1.79,70.664
554,554,presidencia roque saenz pena,-26.79,-60.44,25.69,36,0,5.21,78.242

In [11]:

radius =5000

# Build URL using the Google Maps API
base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
hotels =[]

for index, row in Ideal_df.iterrows():
    #city = row['City']
    lats = row["Latitude"]
    lngs = row["Longitude"]
   
    # redefine params
    params = {
        "location": f"{lats},{lngs}" ,
        "types": "hotel",
        "radius": radius,
        "key": g_key
    }

    # Run request
    balloons = requests.get(base_url, params=params).json()
    try:
        hotels.append(balloons['results'][0]['name'])
    except:
        hotels.append("")
        continue
        

Ideal_df['Hotel Name']=hotels
Ideal_df = Ideal_df.dropna(how='any')
Ideal_df

,Unnamed: 0,City,Latitude,Longitude,Temperature,Humidity,Clouds %,Wind Speed (mph),Temperature_F,Hotel Name
1,1,rikitea,-23.12,-134.97,23.04,75,0,6.61,73.472,Rikitea
19,19,yulara,-25.24,130.99,25.0,15,0,6.70,77.000,Petermann
30,30,tezu,27.92,96.17,23.4,63,0,1.36,74.120,Tezu
52,52,los llanos de aridane,28.66,-17.92,23.0,78,0,4.60,73.400,Los Llanos
84,84,alice springs,-23.7,133.88,23.49,20,0,4.10,74.282,Alice Springs
124,124,poum,-20.23,164.02,24.31,84,0,4.27,75.758,Poum
227,227,salalah,17.02,54.09,26.0,74,0,1.50,78.800,Salalah
228,228,viedma,-40.81,-63,25.0,25,0,0.89,77.000,Viedma
231,231,narrabri,-30.32,149.78,23.0,35,0,3.60,73.400,Narrabri
267,267,madimba,-10.4,40.33,24.32,90,0,3.13,75.776,Madimba
281,281,mount isa,-20.73,139.5,26.0,44,0,7.20,78.800,Mount Isa
285,285,mecca,21.43,39.83,25.76,18,0,2.28,78.368,Mecca
347,347,shahdadkot,27.85,67.91,22.73,14,0,2.96,72.914,Shahdādkot
363,363,puerto del rosario,28.5,-13.86,22.0,83,0,8.70,71.600,Puerto del Rosario
395,395,sur,22.57,59.53,25.44,48,0,6.26,77.792,Sur
432,432,port hedland,-20.32,118.57,26.0,74,0,4.10,78.800,Port Hedland
453,453,marzuq,14.4,46.47,21.42,47,0,1.18,70.556,Al Hujayrah
504,504,huilong,31.81,121.66,21.48,65,0,1.79,70.664,Nantong
554,554,presidencia roque saenz pena,-26.79,-60.44,25.69,36,0,5.21,78.242,Presidencia Roque Sáenz Peña

In [12]:
Ideal_df["Latitude"] = pd.to_numeric(Ideal_df["Latitude"])
Ideal_df["Longitude"] = pd.to_numeric(Ideal_df["Longitude"])
locations2 = Ideal_df[["Latitude", "Longitude"]]

In [13]:
fig = gmaps.figure()

heat_layer = gmaps.heatmap_layer(locations, weights=Humids, 
                                 dissipating=False, max_intensity=100,
                                 point_radius = 1)

fig.add_layer(heat_layer)

markers = gmaps.marker_layer(locations2)
fig.add_layer(markers)
fig

Figure(layout=FigureLayout(height='420px'))